$grey-blue: #344054;
$grey: #475467;
$green: #044827;
// $danger: #97BE0F;
$danger: #89BF48;
// $primary: #74A3D8;
$primary: #A0C3EB;
$notice: #FFC65A;
$blue: #2C6EB8;
$warning: #74A3D8;
$ligthblue: #CDE2F9;
// $blue: #00417A