@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$body-font: "Open Sans", "sans-serif";
$headers-font: "Poppins", "sans-serif";

$fonts: 14px 16px 18px 20px 24px 30px 32px 36px 48px;

@each $font in $fonts {
  .font-size-#{$font} {
    font-size: $font !important;
  }

  @media(min-width:768px) {
    .font-size-md-#{$font} {
      font-size: $font !important;
    }
  }

  @media(min-width:992px) {
    .font-size-lg-#{$font} {
      font-size: $font !important;
    }
  }

  @media(min-width:1200px) {
    .font-size-xl-#{$font} {
      font-size: $font !important;
    }
  }

  @media(min-width:1400px) {
    .font-size-xxl-#{$font} {
      font-size: $font !important;
    }
  }

}


$weights: 400 500 600;

@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: $weight !important;
  }

  @media(min-width:768px) {
    .fw-md-#{$weight} {
      font-weight: $weight !important;
    }
  }

  @media(min-width:992px) {
    .fw-lg-#{$weight} {
      font-weight: $weight !important;
    }
  }

  @media(min-width:1200px) {
    .fw-xl-#{$weight} {
      font-weight: $weight !important;
    }
  }

  @media(min-width:1400px) {
    .fw-xxl-#{$weight} {
      font-weight: $weight !important;
    }
  }

}
