<%= content_for :meta_title, "Yourdomain - Your Meta" %>

<div class="container page-min-height">
  <div class="row">
    <h2 class="text-center my-5">Mes enseignements</h2>
    <div class="col-md-3 offset-md-3">
        <%= link_to "Projet", project_router_path, class: "btn btn-danger text-white w-100" %>
    </div>
    <div class="col-md-3">
        <%= link_to "Programmation", prog_router_path, class: "btn btn-danger text-white w-100" %>
    </div>
  </div>
</div>