<% content_for(:robots) do %>
  <meta name="robots" content='noindex, nofollow'>
<% end %>

<div class="container">
  <h1 class="text-center my-5">Mentions légales</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="container page-min-height">
        <p>À compléter...</p>
      </div>
    </div>
  </div>
</div>