@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "font-awesome";

// External libraries
@import "bootstrap";
@import "config/sizing";

// Your CSS partials
@import "components/index";

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: $blue;
}

.bg-ligthblue {
  background: $ligthblue;
} 

.card-avatars {
  position: relative;
  width: 50px;
  min-height: 100px;
}

.card-avatar-position {
  position: absolute;
  right: 0px;
}

.card-avatar {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  // border: 1px solid gray;
  box-shadow: 5px 5px 5px gray;
}

.accordion-padding {
  padding: 8px 16px;
}

.btn-supp {
  border: 1px solid $red;
  color: $red;
}

.slides-iframe {
  width: 80%;
  aspect-ratio: 480 / 300;
}

.color-progress {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px gray;
}

.height-rating {
  height: 70px;
}

.notifs-bg {
  position: relative;
}

.notifs-nbr {
  position: absolute;
  top: -10px;
  right: 0;
  background: $red;
  color: white;
  border-radius: 50px;
  padding: 0px 8px;
  z-index: 1;
}

.new_messages {
  text-align: center;
  font-size: 12px;
  width: calc(100% - 20px);
  margin: 10px;
  color: $red;
  border-bottom: 1px solid $red;
}